* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    font-family: 'Lato', sans-serif;
}

.code {
    background-color: #148dac;
    color: #ffffff;
    font-size: 18px;
}

h2 {
    text-align: center;
    padding-bottom: 15px;
    border-bottom: dashed 3px #000000;
}

main {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    border: dashed 3px #000000;
    border-radius: 15px;
    width: 1000px;
    padding: 20px;
    height: 1000px;
}

.btn {
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
    background-color: #14997c;
    border: 0;
    font-size: 18px;
    height: 41px;
    cursor: pointer;
}

p {
    width: 550px;
}

.btn:hover {
    opacity: .5;
}

.info {
    font-size: 18px;
    font-weight: bold;
}